@charset "utf-8";

.container {
  width: 1100px;
  margin: 0 auto;
}

.width--800px {
  width: 800px;
}

/* h3 {
  margin: 0;
} */

button:hover {
  cursor: pointer;
}

.bar {
  /* display: flex; */
  width: 4px;
  height: 24px;
  background-color: var(--main-color-yel);
  margin-right: 5px;
  
}

/* main */
.main {
  display: flex;
  height: 900px;
  padding: 0px;
}

/* main-menu */

.main-menu {
  flex: 1;
  border-right: 2px solid var(--main-color-gre);
  padding-top: 50px;
}

.main-menu h3 {
  color: var(--main-color-yel);
}

.main-menu li {
  font-size: 18px;
  margin: 10px 0px 0px 20px;
  padding: 5px 0px 5px 10px;
  width: 125px;
}

.main-menu li:hover {
  background-color: var(--main-color-gre);
  border-radius: 10px;
  transition: all 0.5s;
}

.main-menu li a {
  display: block;
}

.main-menu li a i {
  margin-right: 7px;
  color: var(--main-color-yel);
}

.article__write-information {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}

.article input {
  display: flex;
  justify-content: flex-start;
}

.article__btn-box {
  display: flex;
  justify-content: end;
  /* padding: 2px; */
}
.Modify,
.delete,
.submit {
  background-color: var(--main-color-yel);
  width: 60px;
  height: 25px;
  margin: 5px 0 10px 5px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.article__title {
  border-bottom: 1px solid black;
}

.article__file {
  width: 10px;
  height: 4px;
}

.bt_se {
  display: flex;
  justify-content: end;
}

.container {
  padding: 10px;
}

#uncontent {
  width: 40vw;
  height: 20px;
}

#ucontent {
  width: 80vw;
  height: 500px;
}